<div class="modal">
    <div class="modal-content">
        <form>
            <p>Add new task</p>
            <div>
                <label for="task-name">Task name</label>
                <input id="task-name" />
            </div>
            <div>
                <label for="task-desctiption">Task description</label>
                <input id="task-desctiption" />
            </div>
            <div>
                <label for="task-due-date">Task due date</label>
                <input id="task-due-date" type="date"/>
            </div>
            <div>
				<button class="cancel-button" type="button">Cancel</button>
				<button class="submit-button" type="submit">Submit</button>
			</div>
        </form>
    </div>
</div>