<div>
  <div>
    <h3>Tasks</h3>
    <div>In Progress Completed</div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Task</th>
        <th>Status</th>
        <th>Due Date</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <label>
                    <input type="checkbox" aria-label="Select task" />Design wireframe
                </label>
            </td>
            <td>
                In Progress
            </td>
            <td>
                2025-3-14
            </td>
        </tr>
        <tr>
            <td>
                <label>
                    <input type="checkbox" aria-label="Select task" checked />Develop Frontend
                </label>
            </td>
            <td>
                In Progress
            </td>
            <td>
                2025-3-18
            </td>
        </tr>
        <tr>
            <td>
                <label>
                    <input type="checkbox" aria-label="Select task" />Develop backend
                </label>
            </td>
            <td>
                In Progress
            </td>
            <td>
                2025-3-21
            </td>
        </tr>
    </tbody>
  </table>
</div>
